<div class="modal-dialog" ng-class="getCss()">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close($event)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ data.headline }}</h4>
        </div>
        <div class="modal-body" compile="data.main"></div>
        <div class="modal-footer" compile="data.footer" ng-if="data.footer !== undefined"></div>
    </div>
</div>